<!DOCTYPE html>
<html lang="en">
  <head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
  </head>

  <body>
    <center>
      <h1> Welcome to <%=name %>!</h1>
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="/home">Home</a></li>
        <li role="presentation"><a href="/supplies">Supplies</a></li>
        <li role="presentation"><a href="#">Calendar</a></li>
      </ul>
    </center>

      <!-- Everything below is part of the Home Page -->
    <center>
      <div class="row">
        <div class="col-md-4">Your current chore is</div>
        <div class="col-md-4">The next house event is</div>
        <div class="col-md-4">You have 34 unread messages</div>
      </div>
    </center>
  

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
