<!DOCTYPE html>
<html lang="en">
  <head>
<link href=
    "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">

  </head>

  <body>
    <center>
      <h1> Welcome!</h1>
      <h2> We hope you enjoy using our product.</h2>

    </center>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
