 <!DOCTYPE html>
<html lang="en">
  <head>
<link href=
    "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">

  </head>

  <body>
    <center>

    <div class="container">

      <h1>OneRoof</h1>
        <a href="http://localhost:8080/groupme/authorize"class="btn btn-large btn-primary" type="submit">Make an account.</a>

    </div> <!-- /container -->
  </center>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
