<!DOCTYPE html>
<html lang="en">
  <head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
  </head>

  <body>
    <center>
      <h1> Welcome to <%=name %>!</h1>
      <ul class="nav nav-tabs">
        <li role="presentation"><a href="/home">Home</a></li>
        <li role="presentation" class="active"><a href="/supplies">Supplies</a></li>
        <li role="presentation"><a href="#">Calendar</a></li>
      </ul>

    <center>
      <div class="row">

        <div class="col-md-6"> <!--LEFT PANEL-->
          <h4> Our house currently needs the following supplies:</h4>
            <form action="/checkoff" method = "POST">
             <% for (var i = 0; i < supplies.length; i++) { %>
                <input type="checkbox" name="supply" value= "<%= supplies[i]%>"> 
                <%=supplies[i] %>
                    </br>
             <% } %>
      </form>
        </div>




        <div class="col-md-6"> <!--RIGHT PANEL-->
          <h4> Need anything? </h4>
          <form class="form-horizontal" action="/addSupplies" method = "POST">
          <div class="form-group">
            <label for="newSupply" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
              <input type="text" name="newSupply" class="form-control" id="newSupply" placeholder="E.g. paper towels">
            </div>
          </div> 
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Submit to List</button>

            </div>
          </div>
        </form>
        </div>
      </div>
    </center>

    
    
    <div id="how-much" class="container" style="display:none;">
      <form class="form-horizontal" action="/charge" method = "POST">
      <div class="form-group"> 
        <label id="label-how-much" for="charge" class="control-label"></label>
          <input type="text" name="charge" class="form-control" id="charge" placeholder="E.g. 5.00">
       </div>
        <button type="submit" class="btn btn-default">Charge</button>
      </form>
    </div>
     

   
    </div>
    </center>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script>
    var words = [];
    $(document).ready(function() {
      $( "[type=checkbox]" ).click(function() {
        if ($(this).is(':checked')) {
          words.push($(this).prop('value'));
        } else {
          var index = words.indexOf($(this).prop('value'));
          words.splice(index, 1);
        }
        if (words.length === 0) {
            $('#how-much').hide();
        } else {
            $('#how-much').show();
            var html = "How much did the ";
            for (var i = 0; i < words.length; i++) {
              html += words[i];
              if (i != words.length - 1) {
                html += ", ";
              }
            }
            html += " cost?";
            $('#label-how-much').html(html);
        }
      });
    });
    </script>
  </body>
</html>
