<!DOCTYPE html>
<html>
  <head>
    <title>Please verify your Venmo account.</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Verify your Venmo credentials</h1>
    <p> <a href="https://api.venmo.com/v1/oauth/authorize?client_id=2258&scope=make_payments%20access_profile&response_type=code"> Verify. </a> </p>
  </body>

  <!--https://api.venmo.com/v1/oauth/authorize?client_id=2258&scope=make_payments%20access_profile&response_type=token-->
</html>
